html {
    scroll-behavior: smooth;
}

.container{
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template: 9.5vh repeat(4, 1fr) / repeat(5, 1fr);

    font-family: 'Quicksand', sans-serif;
    font-weight: bold; ;
    font-size: 0.4vw;

    position: relative;
    overflow: hidden;

    transition: transform 1s;
}

.background{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
}

.header{
    position: relative;
    overflow: hidden;
    grid-column-start: 1;
    grid-column-end: 6;
    margin-top: 0.4%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
    border-radius: 10px;
    aspect-ratio: 1/0.045;
    opacity: 0;
    animation: headerIn 1.5s ease forwards;
}

@keyframes headerIn {
    0% {
        opacity: 0;
        margin-left: 40%;
        margin-right: 40%;
        margin-bottom: 2%;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
}

.header {
    animation-delay: 0.2s;
}

.header img{
    position: absolute;
    max-width: 100%;
    z-index: 1;
}

.headerimage{
    top: 50%;
    transform: translateY(-50%);
    filter: blur(0.5px);
    aspect-ratio: 8.5/1;
}

.logo{
    position: absolute;
    max-width: 200%;
    max-height: 200%;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.content-small{
    aspect-ratio: 1/0.59;
    padding: 0.4%;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row: span 3;
    gap: 0.3%;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.small{
    position: relative;
    background: transparent;
    aspect-ratio: 1/0.59;
    border-radius: 10px;

    overflow: hidden;
    transition: 1s;

    opacity: 0;
    animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
     0%{
        opacity: 0;
        scale: 0;
    }
    100%{
        opacity: 1;
        scale: 1;
    }
}

.small:nth-child(2) {
    animation-delay: 0.2s;
}
.small:nth-child(4) {
    animation-delay: 0.2s;
}
.small:nth-child(3) {
    animation-delay: 0.35s;
}
.small:nth-child(5) {
    animation-delay: 0.35s;
}
.small:nth-child(7) {
    animation-delay: 0.35s;
}
.small:nth-child(6) {
    animation-delay: 0.5s;
}
.small:nth-child(8) {
    animation-delay: 0.5s;
}
.small:nth-child(9) {
    animation-delay: 0.75s;
}

.mklogo{
    position: absolute;
    width: 100%;
    height: 100%;
    height: auto;
    transform: scale(1.25);
    z-index: 3;
    transition: transform 500ms;
}

.mklogo:hover{
    transform: scale(1.35);
    cursor: pointer;
    transition: transform 200ms;
}

.mkbackground{
    position: absolute;
    filter: blur(1px);
    width: 130%;
    height: 130%;
    z-index: 2;
}

.box-arrow {
    position: absolute;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row: 5;

    aspect-ratio: 0.6/0.2;
    width: 70%;
    background-color: white;
    border-radius: 10px;
    margin-top: 10%;
    transform: translate(20%);
    display: grid;
    place-items: center;
    overflow: hidden;
}
.box-arrow img{
    position: absolute;
    top: 80%;
    max-width: 175%;
    max-height: 175%;
    transform: translate(-50%, -50%);
}

.arklogo{
    position: absolute;
    max-width: 150%;
    max-height: 150%;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.arkmkbackground{
    position: absolute;
    filter: blur(0px);
    width: 140%;
    height: 140%;
    z-index: 2;
}